<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_ss_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_ss_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".MapActivity"
            android:exported="false" />

        <!--<meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCAPtX3XcRVOdr8ZGt_Yw0mNfrBNoU72Pg" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <activity
            android:name=".ReportStrayConfirmation"
            android:exported="true" />
        <activity
            android:name=".ReportStrayForm"
            android:exported="true" />
        <activity
            android:name=".PetAdoptionInfo"
            android:exported="true" />
        <activity
            android:name=".ReportStray"
            android:exported="true" />
        <activity
            android:name=".ViewReports"
            android:exported="true" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".Settings"
            android:exported="true" />
        <activity
            android:name=".StrayReporting"
            android:exported="true" />
        <activity
            android:name=".PetAdoption"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>